<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Articles-Badges-images.css">
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
                <div class="container-fluid">
                    <div>
                        <div class="text-white" th:text="${user.username}+ ' with Role: '+${user.roles}"></div>

                    </div>
                    <a class="text-white" href="/logout">Logout</a>
                </div>
            </nav>
        </div>
    </div>


    <div class="row">
        <div class="col-2">
            <form>
                <nav class="nav nav-pills nav flex-column">
                    <a class="nav-link active" aria-current="page" href="/admin/">Admin</a>
                    <a class="nav-link" href="/admin/showUser/">User</a>
                </nav>
            </form>
        </div>

        <div class="col bg-light">
            <div class="h3 ">
                <a type="text">Admin Panel</a>
            </div>
            <div class="col">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab"
                                                                href="#tab-1">Users Table</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab"
                                                                href="#tab-2">New User</a></li>
                </ul>

                <div class="card">
                    <div class="tab-content">

                        <!--                        Список всех юзерров-->

                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                            <div class="card">
                                <div class="card-header"> All Users</div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Username</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr th:each="user:${showAllUsers}">
                                                <td th:text="${user.id}">ID</td>
                                                <td th:text="${user.getUsername()}"></td>
                                                <td th:text="${user.getEmail()}"></td>
                                                <td th:text="${user.getRoles()}"></td>

                                                <td>
                                                    <button type="button" class="btn btn-info" data-toggle="modal"
                                                            th:data-target="${'#edit'+user.id}">
                                                        Edit
                                                    </button>
                                                </td>

                                                <td>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                                            th:data-target="${'#delete' + user.id}">
                                                        Delete
                                                    </button>
                                                </td>

                                                <td>
                                                    <!-- Modal для редактирования -->
                                                    <div class="modal fade" th:id="${'edit'+ user.id}"
                                                         aria-labelledby="editModalLabel" aria-hidden="true"
                                                         tabindex="-1"
                                                         role="dialog">
                                                        <form th:action="@{/admin/{id}/edit(id=${user.id})}"
                                                              th:method="PATCH">
                                                            <div class="modal-dialog modal-dialog-centered"
                                                                 role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="editModalLabel">Edit
                                                                            User</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body"
                                                                         style="display: flex; align-items: center; justify-content: center">
                                                                        <div style="width: 45%; display: flex; flex-direction: column; align-items: center; justify-content: center">
                                                                            <div class="form-group"
                                                                                 style="margin: 5px 0; text-align: center">

                                                                                <label for="editId"> Id </label>
                                                                                <input class="form-control" type="text"
                                                                                       id="editId" th:value="${user.id}"
                                                                                       th:name="id" readonly>
                                                                            </div>

                                                                            <div class="form-group"
                                                                                 style="margin: 5px 0; text-align: center">
                                                                                <label for="editUsername">
                                                                                    Username </label>
                                                                                <input class="form-control" type="text"
                                                                                       id="editUsername"
                                                                                       th:value="${user.username}"
                                                                                       th:name="username">
                                                                            </div>
                                                                            <div class="form-group"
                                                                                 style="margin: 5px 0; text-align: center">
                                                                                <label for="passwordEdit">
                                                                                    Password </label>
                                                                                <input class="form-control"
                                                                                       type="password"
                                                                                       name="password" id="passwordEdit"
                                                                                       th:value="${user.password}"
                                                                                >
                                                                            </div>
                                                                            <div class="form-group"
                                                                                 style="margin: 5px 0; text-align: center">
                                                                                <label for="emailEdit"> Email </label>
                                                                                <input class="form-control" type="email"
                                                                                       placeholder="Email" name="email"
                                                                                       id="emailEdit"
                                                                                       th:value="${user.email}">
                                                                            </div>
                                                                            <div class="form-group"
                                                                                 style="margin: 5px 0; text-align: center">
                                                                                <label for="rolesEdit">Roles</label>
                                                                                <select multiple class="form-control"
                                                                                        name="roles" size="2"
                                                                                        id="rolesEdit"
                                                                                        th:value="${user.roles}">
                                                                                    <option selected="selected"
                                                                                            value="1">USER
                                                                                    </option>
                                                                                    <option value="2">ADMIN</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit"
                                                                                class="btn btn-primary">
                                                                            Edit
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>

                                                    <!-- Modal для удаления -->
                                                    <div class="modal fade" th:id="${'delete' + user.id}" tabindex="-1"
                                                         role="dialog"
                                                         aria-labelledby="deleteModalCenterTitle"
                                                         aria-hidden="true">
                                                        <form th:method="DELETE"
                                                              th:action="@{/admin/{id}(id=${user.id})}">
                                                            <div class="modal-dialog modal-dialog-centered"
                                                                 role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="deleteModalLongTitle">Delete
                                                                            User</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body"
                                                                         style="display: flex; align-items: center; justify-content: center">

                                                                        <div style="width: 45%; display: flex; flex-direction: column; align-items: center; justify-content: center">

                                                                            <div class="form-group"
                                                                                 style="margin: 5px 0; text-align: center">

                                                                                <label for="idDelete"> Id </label>
                                                                                <input class="form-control " type="text"
                                                                                       id="idDelete"
                                                                                       th:value="${user.id}"
                                                                                       readonly>
                                                                            </div>
                                                                            <div class="form-group"
                                                                                 style="margin: 5px 0; text-align: center">
                                                                                <label for="usernamedelete">
                                                                                    Username </label>
                                                                                <input type="text" name="username"
                                                                                       id="usernamedelete"
                                                                                       class="form-control input-lg"
                                                                                       th:value="${user.username}"
                                                                                       readonly>
                                                                            </div>
                                                                            <div class="form-group"
                                                                                 style="margin: 5px 0; text-align: center">
                                                                                <label for="passworddelete">
                                                                                    Password </label>
                                                                                <input type="password" name="password"
                                                                                       id="passworddelete"
                                                                                       class="form-control input-lg"
                                                                                       th:value="${user.password}"
                                                                                       readonly>
                                                                            </div>
                                                                            <div class="form-group"
                                                                                 style="margin: 5px 0; text-align: center">
                                                                                <label for="emaildelete">
                                                                                    Email </label>
                                                                                <input type="email" name="email"
                                                                                       id="emaildelete"
                                                                                       class="form-control input-lg"
                                                                                       th:value="${user.email}"
                                                                                       readonly>
                                                                            </div>

                                                                            <div class="form-group"
                                                                                 style="margin: 5px 0; text-align: center">
                                                                                <label for="rolesEdit">Roles</label>
                                                                                <label>
                                                                                    <select multiple class="form-control"
                                                                                            name="roles" size="2"
                                                                                            disabled>
                                                                                        <option selected="selected"
                                                                                                value="1">USER
                                                                                        </option>
                                                                                        <option value="2">ADMIN</option>
                                                                                    </select>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit"
                                                                                class="btn btn-danger">Delete
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--                        Создание новых юзерров-->

                        <div class="tab-pane " role="tabpanel" id="tab-2">
                            <div class="card-text-center">
                                <div class="card-header">
                                    Add New User
                                </div>

                                <div class="card-body"
                                     style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center">

                                    <form th:method="POST" th:action="@{/admin/}" th:object="${user}">
                                        <div class="form-group"
                                             style="margin: 5px 0; text-align: center">
                                            <label for="username"> Username </label>
                                            <input class="form-control" type="text" placeholder="username"
                                                   name="username"
                                                   id="username">
                                        </div>
                                        <div class="form-group"
                                             style="margin: 5px 0; text-align: center">
                                            <label for="password"> Password </label>
                                            <input class="form-control" type="text" placeholder="Password"
                                                   name="password"
                                                   id="password">
                                        </div>
                                        <div class="form-group"
                                             style="margin: 5px 0; text-align: center">
                                            <label for="email"> Email </label>
                                            <input class="form-control" type="email" placeholder="Email"
                                                   name="email"
                                                   id="email">
                                        </div>
                                        <div class="form-group"
                                             style="margin: 5px 0; text-align: center">
                                            <label for="rolesEdit">Roles</label>
                                            <label for="roles"></label><select multiple class="form-control"
                                                                               name="roles" size="2"
                                                                               id="roles">
                                                <option selected="selected" value="1">USER
                                                </option>
                                                <option value="2">ADMIN</option>
                                            </select>
                                        </div>

                                        <div class="form-group row" style="margin: 5px 0; text-align: center">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-success">Add new User
                                                </button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>