<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table border="1" width="50%">
    <thead>
    <tr>
        <h1 th colspan="2">Users</th></h1>
    </tr>
    </thead>
    <thead>
    <tr>
        <th scope="col">username</th>
        <th scope="col">password</th>
        <th scope="col">email</th>

    </tr>
    </thead>
    <tbody>

    <tr align="center" th:each="user : ${listUsers}">
        <td width="200"><p th:text="${user.getUsername()}"></p></td>
        <td width="200"><p th:text="${user.getPassword()}"></p></td>
        <td width="200"><p th:text="${user.getEmail()}"></p></td>
        <td width="200">
            <form method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="Update">
            </form>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>

    </tbody>
</table>

<br>

<input type = "button" value = "add user"
       onclick = "window.location.href = '/admin/new'"/>

<input type = "button" value = "logout"
       onclick = "window.location.href = '/logout'"/>
</body>
</html>