<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="username=">Enter name and surname: </label>
  <input type="text" th:field="*{username}" id="username="/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> Name error</div>
  <input type="text" th:field="*{email}" id="email="/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Email error</div>
  <br/>
  <input type="submit" value="Update!"/>
</form>

</body>
</html>