<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>UserPage</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Articles-Badges-images.css">
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
                <div class="container-fluid">
                    <div>
                        <div class="text-white" th:text="${user.username}+ ' with Role: '+${user.roles}"></div>

                    </div>
                    <a class="text-white" href="/logout">Logout</a>
                </div>
            </nav>
        </div>

    </div>
    <div class="row">
        <div class="col-2">
            <form>
                <nav class="nav nav-pills nav flex-column">
                    <a class="nav-link"  aria-current="page" href="/admin/">Admin</a>

                    <a class="nav-link active"  href="/user/">User</a>

                </nav>
            </form>
        </div>


        <div class="col bg-light" >

            <div class="h3">
                <a type="text" >User information-page</a>
            </div>





            <div class="card">
                <div class="card-header">
                    About user
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:object="${user}">
                                <td><h6 th:text="${user.getId()} "></h6></td>
                                <td><h6 th:text="${user.getUsername()} "></h6></td>
                                <td><h6 th:text="${user.getEmail()}"></h6></td>
                                <td><h6 th:text="${user.getRoles()}"></h6></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</div>
</div>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
